<ion-header [translucent]="true">
  <ion-toolbar id="header" color="secondary">
    
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"
    ></ion-back-button>
  </ion-buttons>
    <!-- <ion-title>Workout Details </ion-title> -->
    <ion-title>Workout Details</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
    <ion-card-title>{{workouts?.type}}</ion-card-title>
    <ion-buttons>
      <ion-button routerLink="/update-workout/{{id}}"
      routerDirection="forward" 
        color="dark">Update</ion-button>
      <ion-button  [routerLink]="'/'"
      routerDirection="backward"  (click)="delete(workout)" color="danger">Delete</ion-button>
    </ion-buttons>
  </ion-card>
  
</ion-content>

